@model WebApplication1.Models.Opera
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Opera Details</h1>
    <ul>
        <li>
            @Html.DisplayNameFor(m => m.Title):
            @Html.DisplayFor(m => m.Title)
        </li>
        <li>
            @Html.DisplayNameFor(m => m.Year):
            @Html.DisplayFor(m => m.Year)
        </li>
        <li>
            @Html.DisplayNameFor(m => m.Composer):
            @Html.DisplayFor(m => m.Composer)
        </li>
    </ul>
    <hr />
    <h3>User Comments</h3>
    @foreach (var item in Model.Comments)
    {
        @item.UserName @:: @item.UserComment - @item.LastModified.ToString("d")
        <br />
    }
    <p><a asp-controller="opera" asp-action="index">Back to List</a></p>
</body>
</html>
