@*@model IEnumerable<WebApplication1.Models.Opera>*@
@model WebApplication1.PaginatedList<WebApplication1.Models.Opera>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Opera Index</h1>
    @*<div>
            <ul>
                @foreach (var item in Model)
                {
                    <li>@item.Title - @item.Year - @item.Composer</li>
                }
            </ul>
        </div>*@
    <p><a asp-controller="opera" asp-action="create">Create</a></p>
    <form asp-controller="opera" asp-action="index" method="GET">
        Opera Title: <input type="text" name="q" value="@ViewBag.currentQ" />
        <input type="submit" value="Search" />
    </form>
    <table border="1">
        <tr>
            <th><a asp-route-sortOrder="@ViewBag.titleSort" asp-route-currentQ="@ViewBag.currentQ">歌劇名稱</a></th>
            <th><a asp-route-sortOrder="@ViewBag.yearSort" asp-route-currentQ="@ViewBag.currentQ">年代</a></th>
            <th>作者</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(mi => item.Title)</td>
                <td>@Html.DisplayFor(mi => item.Year)</td>
                <td>@Html.DisplayFor(mi => item.Composer)</td>
                <td><a asp-controller="opera" asp-action="details" asp-route-id="@item.OperaID">Details</a></td>
                <td><a asp-controller="opera" asp-action="edit" asp-route-id="@item.OperaID">Edit</a></td>
                <td><a asp-controller="opera" asp-action="delete" asp-route-id="@item.OperaID">Delete</a></td>
                <td><a asp-controller="opera" asp-action="delete2" asp-route-id="@item.OperaID" onclick="return confirm('確定要刪除此筆資料?');">Delete2</a></td>
            </tr>
        }
    </table>
    @if (Model.HasPreviousPage)
    {
        <a asp-controller="opera" asp-action="index" asp-route-page="@(Model.PageIndex - 1)" asp-route-currentQ="@ViewBag.currentQ" asp-route-sortOrder="@ViewBag.currentSort">上一頁</a>
    }
    else
    {
        @:上一頁
    }
    @if (Model.HasNextPage)
    {
        <a asp-controller="opera" asp-action="index" asp-route-page="@(Model.PageIndex + 1)" asp-route-currentQ="@ViewBag.currentQ" asp-route-sortOrder="@ViewBag.currentSort">下一頁</a>
    }
    else
    {
        @:下一頁
    }
</body>
</html>
